.email-form {
    width: 100%;
}

.email_container {
    margin-left: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

form,
input,
input,
textarea {
    display: block;
    width: 100%;
    border-color: #991f00;
    border-width: 1px;
}

.form {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

input,
textarea {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button.submitBtn,
button.backBtn {
    font-weight: bold;
    color: white;
    background-color: #595959;
}

button.submitBtn:hover,
button.backBtn:hover {
    color: white;
    background-color: #991f00;
}

label {
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Waiting for the Sunrise', cursive;
}

.toEmailAddress {
    font-size: 15px;
    margin-left: 8px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #595959;
}