  body {
      background-color: #000000;
      margin: auto;
  }

  * {
      box-sizing: border-box;
  }

  .container {
      width: 100%;
      margin: 0 auto;
      clear: both;
  }

  .sidenav {
      height: 100%;
      width: auto;
      position: fixed;
      z-index: 1;
      top: 0;
      text-decoration: none;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 20px;
      text-decoration: none;
  }

  .sidenav a#nav-btn {
      padding: 6px 6px 6px 32px;
      text-decoration: none;
      font-size: 25px;
      color: lightgray;
      display: block;
      margin-top: 50px;
      margin-left: -10px;
      padding-right: 25px;
      text-decoration: none;
  }

  .sidenav a#nav-btn:hover {
      color: white;
      text-decoration: none;
  }

  a#nav-btn:not(:disabled):not(.disabled).active,
  a#nav-btn:not(:disabled):not(.disabled):active {
      color: #d53007;
  }

  .main_line {
      color: lightgray;
      text-align: right;
      font-family: 'Montserrat', sans-serif;
  }

  .resume_title {
      margin-top: 100px;
      font-size: 50px;
  }

  em {
      font-family: 'Waiting for the Sunrise', cursive;
      font-size: 45px;
      word-spacing: -10px;
      letter-spacing: 3px;
  }

  .copyright-footer {
      position: absolute;
      bottom: 0;
      padding: 15px 0;
      clear: both;
      text-align: center;
      width: 100%;
      color: lightgray;
  }

  .copyright {
      position: relative;
      font-family: 'Waiting for the Sunrise', cursive;
      font-size: 15px;
      letter-spacing: 2px;
  }

  .background_home {
      background-image: url("..//img/cat_laptop.jpg");
      position: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      z-index: -100;
      background-position: center;
  }

  /*//////////////////////////////////////////////////////////////////////*/

  @media screen and (max-width: 768px) {
      .resume_title {
          margin-top: 50px;
          font-size: 45px;
          padding-right: 20px;
      }
      em {
          font-size: 35px;
          word-spacing: -10px;
          letter-spacing: 3px;
          padding-right: 20px;
      }
      footer {
          font-size: 10px;
          padding-top: 10px;
      }
      .sidenav {
          padding-top: 15px;
      }
      .sidenav a#nav-btn {
          font-size: 18px;
      }
  }

  @media screen and (max-width: 668px) {
      .resume_title {
          margin-top: 50px;
          font-size: 20px;
      }
      em {
          font-size: 18px;
          word-spacing: -5px;
          letter-spacing: 3px;
      }
      footer {
          font-size: 12px;
          padding-top: 10px;
      }
      .sidenav a#nav-btn {
          font-size: 18px;
          margin-top: 35px;
          padding-right: 18px;
          padding-left: 25px;
      }
      .copyright {
          font-size: 12px;
      }
  }

  @media screen and (max-width: 376px) {
      .sidenav a#nav-btn {
          font-size: 18px;
          margin-top: 35px;
          padding-right: 15px;
          padding-left: 25px;
      }
  }